html, body {
    height: 100%;
    color: black;
    font-family: 'Raleway';
    font-size: 13px;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

.header {
    padding-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    display: flex;
    float: center;
}
h3 {
    display: flex;
    justify-content: center;
}
h4 {
    display: flex;
    justify-content: center;
}
p {
    margin: auto;
    max-width: 800px;
    display: flex;
}
footer {
    padding-top: 10px;
    text-align: center;
}
