/************************
*   site-wide styling   *
************************/
html, body {
    height: 100%;
    color: #000;
    font-family: 'Raleway';
    font-size: 13px;
    margin: auto;
}

h1 {
    font-weight: 300;
    text-align: left;
    font-size: 35px;
    line-height: 1;
}

h2 {
    font-weight: normal;
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
}

h3 {
    font-weight: 300;
    display: flex;
    justify-content: center;
    font-size: 35px; 
    letter-spacing: 2px;
}

h4 {
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 1px;
}

b {
    font-weight: 600;
}

p {
    line-height: 1;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

a {
    color: black;
    text-decoration: none !important; 
}

a:hover {
    font-style: italic; 
}

/************************
*    navigation menu    *
************************/

.navbar {
    text-align: right;
    text-decoration: underline;
    letter-spacing: 1px;
}

@media screen and (max-width:1100px) {
    .header {
        display: none;
    } 
}

/*************************
*  side header styling   *
*************************/

.header {
  padding: 100px 0px 0px 150px;
  width: 225px;
  position: fixed;
  z-index: 1;
  background: white;
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  .header {padding: 50px 0px 0px 30px;}

/*
  .portfolio,
  .contact,
  .about {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    margin-right: 30px;
    padding-top: 50px;
  }
*/
}

/*
@media screen and (max-height: 450px) {
  .header {padding: 50px 0px 0px 30px;}
}
*/

.header h2 {
    text-align: right;
}

/************************
*    footer styling     *
************************/ 
footer {
    padding-top: 200px;
    height: 80px;
    text-align: left;
}

footer h2 {
/*
  padding-left: 150px;
  width: 200px;
*/
  z-index: 1;
  background: transparent;
  overflow-x: hidden;
  text-align: center;
}
/************************
*   menu page styling   *
************************/
.portfolio,
.contact,
.about {
    display: flex;
    flex-direction: column;
    margin-left: 425px;
    margin-right: 150px;
    padding-top: 150px;
}

.portfolio p {
    text-align: left;
}

@media screen and (max-width:1100px) {
    .portfolio,
    .contact,
    .about {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 30px;
    }
}

/************************
*     class styling     *
************************/
.El {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
}

.center {
    margin: auto
}

/* small porfolio pictures */
.photo {
    border-color: white;
    display: block;
    margin:auto;
    object-fit: contain;
    width:80%;
    height:70%;
}

.web {
    border-color: white;
    display: block;
    margin:auto;
    object-fit: contain;
    width:90%;
    height:80%;
}

.middlephoto {
    border-color: white;
    display: block;
    margin: auto;
    object-fit: contain;
    width:40%;
    height:35%;
}

.pageLayout {
    max-width: 720px;
    margin: auto;
}

