h1 {
    font-weight: normal;
}
body {
  font-family: 'Raleway';
  font-size: 13px;
  max-width: 700px;
  margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
