<title>About | Claire Darling Watts</title>
<div class="about">
    <img src="pictures/claire.jpg" alt="Santorini" style="width:100%;" class="center"><br><br>
    
    <div class="pageLayout">
    
    <h4>greetings!</h4>
    <p>My name is Claire Darling Watts. Like a lot of creative humans, my professional work involves multiple mediums and disciplines. I specialize in Squarespace website design + development, UX copywriting, brand storytelling strategy, and digital communication. I thrive in dynamic environments that value innovation and ideation.</p>
        
    <p>My work within the realm of online storytelling can be traced back to when I first learned computer programming. I became fascinated with the magic-like power it gave me to create, and wanted to find a way to integrate both my analytical and artistic skills. In June of 2018, I graduated with honors from the University of California, Santa Cruz with a B.A. in Computer Science + Sustainability, and set out to do just that.</p>

    <p>Since then, I've focused in on my passion for designing digital experiences, and am always seeking new opportunites to continue my learning. If you are interested in collaborating on a website or writing project, let's connect!</p>
    
    <h4>skill set</h4>   
    <p>Knowledgeable about UX/UI design, frontend web development, typography + color + layout, copywriting strategy, photography, video editing, film + interactive media, data visualization, algorithms, artificial intelligence, embedded systems, computer architecture, narrative + character development, grammar + sentence structure, event planning, project management, and social media marketing.</p>
        
    <p>Experience working with HTML, CSS, JavaScript, AngularJS, Python, Java, C, C++, C#, GitHub, MacOS, Microsoft Office, Adobe Photoshop, Adobe Illustrator, Adobe Premiere Pro, Canva, Figma, Squarespace, and Wordpress.</p>
        
    <p>Talented in storytelling, public speaking, team-building, problem-solving, visual design, communication, facilitation, and leadership.</p>
    
    <h4>interests</h4>
    <p>I am passionate about intentional + creative design, social + environmental justice, sustainability, grassroots community organizing, leadership development, outdoor adventure, education, travel, and artistic expression.</p>
        
    <p>When I'm not designing, writing, or contemplating, I am most likely immersing myself in the great outdoors, dancing in the moonlight, traveling to far away places, reading tarot cards, laughing at astrology memes, or dreaming up a more equitable + sustainable world.</p>
        
    </div> 
</div>
