<div class="content">
    <h3>about</h3>
    <img src="pictures/claire in rome.jpg" alt="Claire in Rome" style="width:20%;" class="center">
    <br><br>
    <h4>education:</h4>
    <p>Bachelor of Arts degree in Computer Science and Sustainability - 2018</p> 
    <p>University of California, Santa Cruz</p>
    
    <h4>experience:</h4>
    <p>My work involves data visualization, frontend web 
    development,user experience design, computer graphics, creative writing, travel 
    photography,and grassroots organizing. My ideal career goals meet at the intersection 
    of art, technology, and social justice.</p>
    
    <h4>interests:</h4>
    <p>I am passionate about environmental activism, social 
    justice, leadership development, climate change, politics, travel, and artistic 
    expression. When I'm not contemplating things like societal issues, community 
    resilience, mental health, and existentialism, I am most likely immersing myself in 
    the great outdoors or taking action alongside my community to create a more equitable 
    and sustainable world.</p>
</div>
