<title>Contact | Claire Darling Watts</title>
<div class="contact">
    <h3>contact</h3>
    <img src="pictures/glencoe.jpg" alt="Glencoe" style="width:100%;" class="center"><br><br>
    
    <div class="pageLayout">
        <p>If you'd like to inquire about my detailed resume, portfolio, and availability, or if your business/organization is interested in discussing work opportunities, please email <b>clairedwatts@gmail.com</b>. Thank you!</p>
        
        <p>You can also find me on <a href="https://www.linkedin.com/in/clairedarlingwatts" target="_blank"><b>LinkedIn</b></a>.</p>
    </div>
    
</div>