<title>Contact | CDW</title>
<div class="contact">
    <img src="pictures/marbella.JPG" alt="marbella" style="width:100%;" class="center"><br><br>
    
    <div class="pageLayout">
        <h4>let's collaborate!</h4>
        <p>If you'd like to inquire about my detailed resume, portfolio, and availability, or if your business/organization is interested in discussing work opportunities, please email <a href="mailto:clairedwatts@gmail.com" target="_blank"><u>clairedwatts@gmail.com</u>.</a> Thank you!</p>
        
        <p>You can also find me on <a href="https://www.linkedin.com/in/clairedarlingwatts" target="_blank"><u>LinkedIn</u></a>.</p>
    </div>
</div>
