<title>Portfolio | Claire Darling Watts</title>
<div class="portfolio">
    <img src="pictures/santa cruz ocean.jpg" alt="Santa Cruz Ocean" style="width:100%;" class="center"><br><br>
    <div class="pageLayout">
        
        <h4>website design</h4>

        <div class="Row">
            <div class="El">
                <img src="pictures/ehc copy.png" alt="Earthen Hands Ceramics" class="web" border="1">
            </div>

            <div class="El">
                <img src="pictures/ehc.png" alt="Earthen Hands Ceramics" class="web" border="1">
            </div>
        </div>
        
        <div class="Row">
            <div class="El">
                <img src="pictures/pp home.png" alt="Ponderosa Provisions" class="web" border="1">
            </div>

            <div class="El">
                <img src="pictures/pp shop.png" alt="Ponderosa Provisions" class="web" border="1">
            </div>
        </div>

        <br><br>
        <h4>writing</h4>

        <div class="Row">
            <div class="El">
                <p><a href="documents/social sustainability.pdf" target="_blank">Creative Writing</a></p>
                <img src="pictures/social sustainability.png" alt="Social Sustainability" class="photo" border="1">
                <br><br>
            </div>

            <div class="El">
                <p><a href="documents/online reviews.pdf" target="_blank">Copywriting</a></p>
                <img src="pictures/online reviews.png" alt="Online Reviews" class="photo" border="1">
                <br><br>
            </div>
        </div>

        <div class="Row">
            <div class="El">
                <p><a href="/documents/milan italy.pdf" target="_blank">Travel Writing</a></p>
                <img src="pictures/milan italy.png" alt="Milan, Italy" class="photo" border="1">
                <br><br>
            </div>
            
            <div class="El">
                <p><a href="/documents/conscious travel.pdf" target="_blank">Blog Writing</a></p>
                <img src="pictures/conscious travel.png" alt="Conscious Travel" class="photo" border="1">
                <br><br>
            </div>
        </div>
        
        <br><br>
        <h4>data vizualization</h4>
        
        <div class="Row">
            <div class="El">
                <p><a href="/data-viz/social-movements" target="_blank">Participation in Social Movements</a></p>
                <img src="pictures/social movements.png" alt="Social Movements" class="photo" border="1">
                <br><br>
            </div>

            <div class="El">
                <p><a href="/data-viz/gdp-energy" target="_blank">Energy Consumption vs. GDP</a></p>
                <img src="pictures/gdp energy.png" alt="Energy Consumption vs. GDP" class="photo" border="1">
                <br><br>
            </div>
        </div>

        <div class="Row">
            <div class="El">
                <p><a href="/data-viz/energy-consumption" target="_blank">Energy Consumption Per Capita</a></p>
                <img src="pictures/energy consumption.png" alt="Energy Consumption" class="photo" border="1">
                <br><br>
            </div>

            <div class="El">
                <p><a href="/data-viz/argentina-choropleth" target="_blank">Argentina Exports & Population Density</a></p>
                <img src="pictures/argentina.png" alt="Argentina Choropleth" class="photo" border="1">
                <br><br>
            </div>
        </div>

        <br><br>
        <h4>film & interactive media</h4>

        <div class="Row">
            <div class="El">
                <p><a href="/film-interactive-media/narrative" target="_blank">Narrative: Climate Justice is Social Justice</a></p>
                <img src="pictures/narrative.png" alt="Narrative" class="photo" border="1">
                <br><br>
            </div>

            <div class="El">
                <p><a href="/film-interactive-media/algorithmic" target="_blank">Algorithmic Documentary: Mental Health Patterns</a></p>
                <img src="pictures/algorithmic.png" alt="Algorithmic" class="photo" border="1">
                <br><br>
            </div>
        </div>

        <div class="El">
            <p><a href="/film-interactive-media/art-view" target="_blank">Photoshop: Interactive Art</a></p>
            <img src="pictures/art view.png" alt="Art View" class="middlephoto" border="1">
            <br><br>
        </div>

        <br><br>
        <h4>computer graphics</h4>

        <div class="Row">
            <div class="El">
                <p><a href="/computer-graphics/lines" target="_blank">Meditation: Line Drawing</a></p>
                <img src="pictures/lines.png" alt="Lines" class="photo" border="1">
                <br><br>
            </div>

            <div class="El">
                <p><a href="/computer-graphics/skeleton" target="_blank">Create a 3D Wire Frame</a></p>
                <img src="pictures/skeleton.png" alt="Skeleton" class="photo" border="1">
                <br><br>
            </div>
        </div>

        <div class="El">
            <p><a href="/computer-graphics/object" target="_blank">Create a 3D Shaded Object</a></p>
            <img src="pictures/object.png" alt="Object" class="middlephoto" border="1">
            <br><br>
        </div>

        <br><br>
        <h4>mobile game development</h4>

        <div class="El">
            <p><a href="https://play.google.com/store/apps/details?id=com.ideass.trashtoss" target="_blank">Trash Toss</a></p>
            <a href="documents/trash toss poster.pdf" target="_blank"><img src="pictures/trash toss.png" alt="Trash Toss" class="middlephoto"></a>
            <br><br>
        </div>
    
    </div>
    
</div>
