<div class="content">
    <h3>portfolio</h3>
    <h4>data vizualization</h4>
    <p><a href="/data-viz/social-movements" target="_blank">participation in social movements</a></p>
    <img src="pictures/social movements.png" alt="Social Movements" style="width:30%;" class="center" border="1">
    <br><br>
    <p><a href="/data-viz/argentina-choropleth" target="_blank">argentina exports & population density</a></p>
    <img src="pictures/argentina.png" alt="Argentina Choropleth" style="width:30%;" class="center" border="1">
    <br><br>
    <p><a href="/data-viz/energy-consumption" target="_blank">energy consumption per capita</a></p>
    <img src="pictures/energy consumption.png" alt="Energy Consumption" style="width:30%;" class="center" border="1">
    <br><br>
    <h4>mobile game development</h4>
    <p><a href="https://play.google.com/store/apps/details?id=com.ideass.trashtoss" target="_blank">trash toss</a></p>
    <a href="documents/trash toss poster.pdf" target="_blank"><img src="pictures/trash toss.png" alt="Trash Toss" style="width:20%;" class="center"></a>
    <br><br>
</div>
