<title>Services | Claire Darling Watts</title>
<div class="services">
    <h3>what i can offer</h3>
    <h4>writing</h4>
    <ul>
        <li><p>Article Writing</p></li>
        <li><p>Blog Post Writing</p></li>
        <li><p>Copywriting</p></li>
        <li><p>Newsletter Writing</p></li>
        <li><p>Editing & Proofreading</p></li>
    </ul>
    <h4>web & software</h4>
    <ul>
        <li><p>Complete WordPress Website Design & Build</p></li>
        <li><p>Complete Squarespace Website Design & Build</p></li>
        <li><p>Data Visualization Design & Creation</p></li>
    </ul>
    <h4>administrative</h4>
    <ul>
        <li><p>Website Management</p></li>
        <li><p>Blog Management</p></li>
        <li><p>Virtual Assistant Services</p></li>
        <li><p>Email Marketing Campaign Development</p></li>
    </ul>
</div>