<title>Services | Claire Darling Watts</title>
<div class="services">
    <h3>what i can offer</h3>
    <img src="pictures/athens.JPG" alt="Athens" style="width:100%;" class="center"><br><br>
        <div class="pageLayout">
            
        <p>Let's work together! I am currently working as a freelance writer & web developer, and I am open to applying for creative projects of all kinds. If you'd like to see some of my past projects, please check out my <a href="/#/portfolio" target="_blank"><b>portfolio</b></a>. Relevant custom services that are not listed here may also be discussed. Learn more about my skills and interests <a href="/#/about" target="_blank"><b>here</b></a>. Keep reading to check out the list of services I'm currently offering:</p>
            
        <h4>writing</h4>
    
        <p>☾ Article Writing</p>
        <p>☾ Blog Post Writing</p>
        <p>☾ Copywriting</p>
        <p>☾ Newsletter Writing</p>
        <p>☾ Editing & Proofreading</p>
        
        <h4>web & software</h4>
    
        <p>☾ Complete WordPress Website Design & Build</p>
        <p>☾ Complete Squarespace Website Design & Build</p>
        <p>☾ Data Visualization Design & Creation</p>
    
        <h4>administrative</h4>
    
        <p>☾ Website Management</p>
        <p>☾ Blog Management</p>
        <p>☾ Virtual Assistant Services</p>
        <p>☾ Email Marketing Campaign Development</p>

        </div>
</div>
