body {
  font-size: 13px;
  font-family: 'Raleway';
}

h1 {
    font-weight: normal;
    text-align: center;
}

p {
   font-size: 11px;
   text-align: center;
}

.axis path,
.axis line {
  font-family: 'Raleway';
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.plot {
    margin: auto;
    display: flex;
    justify-content: center;
}

.xaxis,
.yaxis,
.label {
font-family: 'Raleway';
}

div.tooltip {
  background: lightsteelblue;
  color: black;
  position: absolute;
  z-index: 10;
  padding: 3px;	
  font: 12px;
  border: 0px;					
  border-radius: 8px;
}