body {
    font-family: 'Raleway';
    font-size: 12px;
    padding-top: 30px;
}

canvas {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
}

.first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    padding-bottom: 10px;
}