html {
    width: auto;
    margin: 10px;
}
h1, h4 {
    font-weight: normal;
}
h4 {
    font-size: 11px;
}
body {
  font-family: 'Raleway';
  font-size: 13px;
  margin: auto;
  text-align: center;
}
ul, li {
  text-align: left;
  font-size: 11px;
}
.sources {
  display: flex;
  justify-content: center;
}
button {
  font-family: 'Raleway';
  font-size: 13px;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
